<!-- footer-menu -->
link(rel="stylesheet", href="/components/footer-menu/footer-menu.css")
//- script(async src="/components/footer-menu/footer-menu.js")

.footer-menu
    a.footer-title(href="#")
        | Заголовок меню
    a.footer-menu__item(href="#")
        | Пункт меню
    a.footer-menu__item(href="#")
        | Пункт меню
    a.footer-menu__item(href="#")
        | Пункт меню
    a.footer-menu__item(href="#")
        | Пункт меню
    a.footer-menu__item(href="#")
        | Пункт меню