/* @font-face {
    font-family: 'Manrope';
    font-weight: 300;
    font-style: normal;
    src: url(/local/fonts/Manrope/Manrope-Light.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    font-style: normal;
    src: url(/local/fonts/Manrope/Manrope-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    font-style: normal;
    src: url(/local/fonts/Manrope/Manrope-Medium.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    font-style: normal;
    src: url(/local/fonts/Manrope/Manrope-SemiBold.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    font-style: normal;
    src: url(/local/fonts/Manrope/Manrope-Bold.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 800;
    font-style: normal;
    src: url(/local/fonts/Manrope/Manrope-ExtraBold.ttf);
}


*/
