/* home-service */

.home-service {
    display: grid;
    grid-template-areas: 
        'home-service__title home-service__quotes'
        'home-service__services home-service__blocks'    
    ;
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
    margin-bottom: 100px;

    @media (max-width: 991px){
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas:
            'home-service__title'
            'home-service__quotes'
            'home-service__services'
            'home-service__blocks'
        ;
        margin-bottom: 80px;
    }

    @media (max-width: 575px) {
        margin-bottom: 60px;
    }
}


.home-service-block__title {
    font-weight: 450;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    z-index: 1;
    position: relative;
}

.home-service-block {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    display: block;
    text-decoration: none;
    min-height: 100px;

    &:focus,
    &:hover{
        &::after {
            opacity: 1;
        }
    }
    &::before{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: linear-gradient(90deg, #67B9A2 14.06%, rgba(103, 185, 162, 0) 100%);
    }

    &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: 0;
        transition: opacity .5s ease;
        background: linear-gradient(90deg, #67B9A2 52.6%, rgba(103, 185, 162, 0) 100%);
    }


    &.home-service-block_1 {
        grid-area: home-service-block_1;
        background-image: url(/local/img/service-1.jpg);
        
    }

    &.home-service-block_2 {
        grid-area: home-service-block_2;
        background-image: url(/local/img/service-2.jpg);
    }

    &.home-service-block_3 {
        grid-area: home-service-block_3;
        background-image: url(/local/img/service-3.jpg);
    }
}

.home-specialists{
    margin-bottom: 100px;

    @media (max-width: 991px) {
        margin-bottom: 80px;
    }

    @media (max-width: 991px) {
        margin-bottom: 60px;
    }
}

.home-service__title {
    grid-area: home-service__title;
    color: #111111;
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 120%;
    margin: 0;
    
}

.home-service-item {
    margin-bottom: 15px;
    display: inline-block;
}

.home-service-item__link{
    color: #111111;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;

    &:hover,
    &:focus{
        text-decoration: underline;
        color: #111111;
    }
}

.home-service__blocks {
    grid-area: home-service__blocks;
    display: grid;
    gap: 15px;
    grid-template-areas: 
        'home-service-block_1 home-service-block_2'
        'home-service-block_1 home-service-block_3'
    ;

    @media (max-width: 991px){
        padding-left: 0;
        gap: 20px;
    }

    @media (max-width: 575px) {
        gap: 10px;
    }
}

.home-service__quotes {
    grid-area: home-service__quotes;
}

.home-service__services {
    grid-area: home-service__services;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    @media (max-width: 767px){
        grid-template-columns: 1fr 1fr;
    }
}


/* end home-service */

/* home-about */
.home-about{
    padding: 60px 0;
    background: #F9F9F9;
    margin-bottom: 100px;

    @media (max-width: 991px) {
        margin-bottom: 80px;
        padding: 25px 0;
    }

    @media (max-width: 575px) {
        margin-bottom: 60px;
        padding: 20px 0;
    }
}

.home-about__container{
    display: grid;
    gap: 30px 40px;
    grid-template-areas: 
        'home-about__img home-about__title home-about__quotes'
        'home-about__img home-about__desc home-about__desc'
    ;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;

    @media (max-width: 991px){
        grid-template-areas:
            'home-about__title'
            'home-about__quotes'
            'home-about__desc'
            'home-about__img'
        ;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.home-about__desc-show-all{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.home-about__desc-show-all__link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #111111;

    &:hover,
    &:focus{
        color: #666666;
    }
}

.home-about__img{
    grid-area: home-about__img;
    height: 100%;

    @media (max-width: 991px){
        max-height: 320px;
    }

    img{
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.home-about__title{
    grid-area: home-about__title;
}

.home-about__quotes{
    grid-area: home-about__quotes;
}

.home-about__desc{
    grid-area: home-about__desc;
}

/* end home-about */

/* why */
.why{
    padding: 60px 0;
    background-color: #F9F9F9;
    margin-bottom: 100px;
    @media (max-width: 991px){
        padding: 25px 0;
        margin-bottom: 80px;
    }

    @media (max-width: 575px) {
        padding: 20px 0;
        margin-bottom: 60px;
    }
}
.why__container{
    display: grid;
    grid-template-areas: 
        'why__title quotes_why' 
        'why__img why-item_1'
        'why__img why-item_2'
        'why__img why-item_3'
    ;
    gap: 20px 30px;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 991px) {
        grid-template-areas:
            'why__title why__title why__title'
            'quotes_why quotes_why quotes_why'
            'why-item_1 why-item_2 why-item_3'
            'why__img why__img why__img'
        ;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 767px) {
        grid-template-areas:
            'why__title'
            'quotes_why'
            'why-item_1' 'why-item_2' 'why-item_3'
            'why__img'
        ;
        grid-template-columns: 1fr;
    }
}
.why__title{
    margin: 0 0 20px;
    grid-area: why__title;    
    @media (max-width: 991px){
        margin: 0;
    }
}

.quotes_why{
    grid-area: quotes_why;
}

.why__img{
    grid-area: why__img;
    max-height: 450px;
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    @media (max-width: 767px){
        max-height: 215px
    }
}
.why__items{
    grid-area: why__items;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.why-item{
    border: 1px solid #CDEDE4;
    border-left: 4px solid #CDEDE4;
    padding: 20px;
    gap: 10px 20px;
    display: grid;
    grid-template-areas: 
        'why-item__img why-item__title'
        'why-item__img why-item__content'
    ;
    grid-template-columns: 50px 1fr;

    @media (min-width: 768px) and (max-width: 991px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        gap: 15px;
        border: 1px solid #CDEDE4;
        border-bottom: 4px solid #CDEDE4;

        ul{
            list-style-type: none;
            padding: 0;
        }
    }

    &.why-item_1 {
        grid-area: why-item_1;
    }

    &.why-item_2 {
        grid-area: why-item_2;
    }

    &.why-item_3 {
        grid-area: why-item_3;
    }
}

.why-item__img{
    grid-area: why-item__img;    
    margin: auto;

    @media (min-width: 768px) and (max-width: 991px) {
        margin: 0;
    }
}

.why-item__title{
    grid-area: why-item__title;
    font-weight: 450;
    font-size: 18px;
    line-height: 120%;
}

.why-item__content{
    grid-area: why-item__content;
}
/* end why */

/* home-blocks */

.home-blocks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 100px;

    @media (max-width: 991px) {
        margin-bottom: 80px;
    }

    @media (max-width: 991px) {
        margin-bottom: 60px;
        grid-template-columns: 1fr;
        gap: 40px;
    }
}

.home-blocks-item{
    display: grid;
    grid-template-areas: 
        'home-blocks-item__title home-blocks-item__link' 
        'home-blocks-item__content home-blocks-item__content';
    align-items: center;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content;
    gap: 40px;

    @media (max-width: 991px) {
        gap: 20px;
    }
}
.home-blocks-item__title{
    grid-area: home-blocks-item__title;
    margin: 0;
}

.home-blocks-item__link{
    grid-area: home-blocks-item__link;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #111111;
    
    &:hover,
    &:focus{
        color: #666666;
    }

}

.home-blocks-item__content{
    grid-area: home-blocks-item__content;
    align-self: start;
}
/* end home-blocks */