$max-xl: "(max-width: 1199px)";
$max-lg: "(max-width: 992px)";
$max-md: "(max-width: 767px)";
$max-sm: "(max-width: 575px)";

$min-xl: "(min-width: 1200px)";
$min-lg: "(min-width: 991px)";
$min-md: "(min-width: 768px)";
$min-sm: "(min-width: 576px)";