<!-- search-form -->
link(rel="stylesheet", href="/assets/search-form/search-form.css")
script(async src="/assets/search-form/search-form.js")

.search-form
    input.search-form__input(placeholder="Поиск по каталогу")
    button.search-form__submit(title="Искать")
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <g clip-path="url(#clip0_101_1555)">
            <path d="M19.7556 18.5773L14.7815 13.6032C15.9582 12.1665 16.6665 10.3316 16.6665 8.33325C16.6665 3.73829 12.9282 0 8.33325 0C3.73829 0 0 3.73829 0 8.33325C0 12.9282 3.73829 16.6665 8.33325 16.6665C10.3316 16.6665 12.1665 15.9582 13.6032 14.7815L18.5773 19.7556C18.9031 20.0815 19.4298 20.0815 19.7556 19.7556C20.0815 19.4298 20.0815 18.9031 19.7556 18.5773ZM1.66665 8.33325C1.66665 4.65745 4.65745 1.66665 8.33325 1.66665C12.009 1.66665 14.9998 4.65745 14.9998 8.33325C14.9998 12.009 12.009 14.9998 8.33325 14.9998C4.65745 14.9998 1.66665 12.009 1.66665 8.33325Z" fill="#999999"/>
            </g>
            <defs>
            <clipPath id="clip0_101_1555">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
        </svg>