<!-- catalog-item -->
link(rel="stylesheet", href="/assets/catalog-item/catalog-item.css")
//- script(async src="/assets/catalog-item/catalog-item.js")

.catalog-item
    .catalog-item__labels
        .catalog-item__label.catalog-item__label_yellow
            | Хит продаж
        .catalog-item__label.catalog-item__label_green
            | Новинки
        .catalog-item__label.catalog-item__label_red
            | Акция
        .catalog-item__label.catalog-item__label_blue
            | Скидка
    a.catalog-item__img(href="#")
        picture
            source(srcset="/local/img/section.webp" type="image/webp")
            source(srcset="/local/img/section.png" type="image/png")
            img(src="/local/img/section.png" type="image/png" alt="" loading="lazy")
    .catalog-item__article
        | Артикул: TH309288
    a.catalog-item__name(href="#")
        | Аккумуляторная дрель-шуруповерт Li-ion 12в 1,5Ач А1 , TDLI1221
    .catalog-item__stock
        .catalog-item__stock-icon            
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 0C3.58881 0 0 3.58881 0 8C0 12.4112 3.58881 16 8 16C12.4112 16 16 12.4112 16 8C15.9997 3.58881 12.4112 0 8 0ZM8 14.7106C4.29974 14.7106 1.28943 11.7003 1.28943 7.99971C1.28943 4.29945 4.29974 1.28915 8 1.28915C11.7003 1.28915 14.7106 4.29974 14.7106 8C14.7106 11.7003 11.7003 14.7106 8 14.7106Z" fill="#74C74D"/>
                <path d="M10.5501 5.44897L6.81598 9.18342L5.44957 7.817C5.19794 7.56509 4.78977 7.56509 4.53815 7.817C4.28623 8.06863 4.28623 8.4768 4.53815 8.72842L6.36042 10.5507C6.48623 10.6765 6.65139 10.7397 6.81627 10.7397C6.98115 10.7397 7.14602 10.6768 7.27184 10.5507L11.4618 6.36068C11.7135 6.10877 11.7135 5.70088 11.4618 5.44897C11.2099 5.19735 10.8021 5.19735 10.5501 5.44897Z" fill="#74C74D"/>
            </svg>
        .catalog-item__stock-label
            | В наличии
    .catalog-item__old-price
        | 4 200 ₽
    .catalog-item__price
        | 8 123 ₽
    button.catalog-item__btn.catalog-item__btn_active(title="В корзину")
        .catalog-item__btn-label
            | В корзину
        .catalog-item__btn-icon
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M6.77892 14.2381H6.77882C5.48513 14.2381 4.43284 15.2653 4.43284 16.537C4.43284 17.8085 5.48513 18.8357 6.77882 18.8357C8.07235 18.8357 9.12464 17.8085 9.12464 16.537V16.5369C9.12329 15.266 8.07191 14.2395 6.77892 14.2381ZM6.77882 17.8273C6.04762 17.8273 5.45853 17.2476 5.45853 16.537C5.45853 15.8263 6.04763 15.2465 6.77882 15.2465C7.50984 15.2465 8.09895 15.8263 8.09895 16.537C8.09895 17.2476 7.50985 17.8273 6.77882 17.8273Z" fill="white" stroke="white" stroke-width="0.2"/>
                <path d="M19.0197 5.01066H19.0203C19.1801 5.01163 19.3313 5.08518 19.429 5.21102L19.4312 5.21391L19.4312 5.21395C19.5242 5.34335 19.5525 5.50753 19.5079 5.66009L19.5075 5.66144L17.5671 11.9586C17.2915 12.8557 16.4473 13.4669 15.4936 13.4641M19.0197 5.01066L6.82421 13.4641M19.0197 5.01066H4.52542H19.0197ZM15.4936 13.4641L15.4939 13.3641V13.4641H15.4936ZM15.4936 13.4641H6.82421M6.82421 13.4641L6.82411 13.3643V13.4641H6.82421ZM4.6945 11.7124L3.23313 3.64104L3.23312 3.64104C3.11985 3.0153 2.619 2.52356 1.97678 2.41211C1.97676 2.4121 1.97673 2.4121 1.97671 2.41209L0.895247 2.22629L0.895008 2.22625C0.61758 2.1779 0.429251 1.91739 0.47931 1.641L0.479325 1.64091C0.529465 1.36538 0.79677 1.18477 1.07375 1.23299L1.07367 1.23298L1.05668 1.33151L1.07385 1.23301L4.6945 11.7124ZM4.6945 11.7124C4.6945 11.7124 4.69451 11.7124 4.69452 11.7125L4.6945 11.7124ZM16.5874 11.6612L16.5872 11.6616C16.4446 12.131 16.0019 12.4541 15.4986 12.4516H15.4981L6.82831 12.4516L6.82804 12.4516C6.27382 12.4531 5.802 12.0629 5.70891 11.5319L5.70881 11.5314L4.71043 6.01492H18.3309L16.5874 11.6612Z" fill="white" stroke="white" stroke-width="0.2"/>
                <path d="M15.4487 14.2381H15.4486C14.1549 14.2381 13.1026 15.2653 13.1026 16.537C13.1026 17.8085 14.1549 18.8357 15.4486 18.8357C16.7422 18.8357 17.7944 17.8085 17.7944 16.537V16.5369C17.7931 15.266 16.7417 14.2395 15.4487 14.2381ZM15.4486 17.8273C14.7174 17.8273 14.1283 17.2476 14.1283 16.537C14.1283 15.8263 14.7174 15.2465 15.4486 15.2465C16.1796 15.2465 16.7687 15.8263 16.7687 16.537C16.7687 17.2476 16.1796 17.8273 15.4486 17.8273Z" fill="white" stroke="white" stroke-width="0.2"/>
            </svg>