<!-- catalog-section -->
link(rel="stylesheet", href="/assets/catalog-section/catalog-section.css")
script(async src="/assets/catalog-section/catalog-section.js")

.catalog-section
    include ../catalog-item/catalog-item
    include ../catalog-item/catalog-item
    include ../catalog-item/catalog-item
    include ../catalog-item/catalog-item
    include ../catalog-item/catalog-item
    include ../catalog-item/catalog-item
    include ../catalog-item/catalog-item
    include ../catalog-item/catalog-item
    include ../catalog-item/catalog-item
    include ../catalog-item/catalog-item
include ../pagination/pagination